mixin list(items)
	ul.list
		each item in items
			li
				a(href=item.slug)
					.top
						.sixty
							h3= item.title
							article
								p!= item.body
						-if(item.photo)
							.preview
								img(src=item.photo)
					.bottom
						.floatfix
							.info
								span.by by #{item.author}
								|  on 
								time(datetime=item.date.robot)= item.date.human
								//-
									|  in 
									span.section= item.section
							.more Read More
