mixin rotator(items)
	-var usableItems = [];
	-items.forEach(function(canidate) {
	-	if (canidate.isRotatable == true) {
	-		usableItems.push(canidate);
	-	}
	-})
	-(usableItems.length > 3 ? usableItems = usableItems.slice(0,3) : null)
	input(type="hidden",class="rotatorCount",value=usableItems.length)
	.outside
		.img
			ul
				for item, i in usableItems
					li(id="ritem#{i}", data-index=i, class=(i == 0 ? 'selected' : ''))
						div
							a(href=item.slug)
								div.title
									h3= item.title
									div.background
								img(src=item.rotator)
		.recentPre
			h2 Featured Stories
			ul
				for item, i in usableItems
					li(id="sitem#{i}", data-index=i, class=(i == 0 ? 'selected' : ''))
						a(href=item.slug)
							div.content
								h3= item.title
								article
									p= item.body

		//- .text
		//- 	ul
		//- 		for item, i in usableItems
		//- 			li(id="titem#{i}", data-index=i, class=(i == 0 ? 'selected' : ''))
		//- 				a(href=item.slug)
		//- 					div.body
		//- 						p= item.body
		//- 					.more
		//- 						span Read More