mixin rotator(rotator,recent)
	.outside
		.img
			a(href=rotator.slug)
				h3= rotator.title
				img(src=rotator.photo)
		.recentPre
			h2 Featured Stories
			ul
				for story, i in recent
					li(class=(i == 0 ? 'selected' : ''))
						a(href=story.slug)
							div.content
								h3= story.title
								article
									p= story.body

		.text
			a(href=rotator.slug)
				div.body
					p= rotator.body
				.more
					span Read More

	//-
		ul.list
			each item,i in items
				li(class=(i == 0 ? 'selected' : ''))
					a(href=item.slug)
						.top
							h3= item.title
							article!= item.body
						.bottom
							.floatfix
								.info
									span.by by #{item.author}
									|  on 
									time(datetime=item.date.robot)= item.date.human
									//-
										|  in 
										span.section= item.section
								.more Read More
