mixin rotator(items)
	#rotator.c_double.c1_2
		ul
			each item, i in items
					li
						a(href="/article/#{item.slug}")
							h2= item.title
							.r_item(id='r_#{i}')
	#r_list.c_small.c3
		ul
			each item, i in items
					li
						a(href="/article/#{item.slug}").r_l_item(id='r_l_#{i}')
							h3= item.title
	append stylesheets
		//- I FEEL SO DIRTY DOING THIS
		each item, i in items
			case i
				when 0			
					styles_0 = "#r_#{i} { background: url('#{item.photo.1x}'); } @media screen and (-webkit-min-device-pixel-ratio:1.1) { #r_#{i} { background: url('#{item.photo.2x}'); } }"
				when 1
					styles_1 = "#r_#{i} { background: url('#{item.photo.1x}'); } @media screen and (-webkit-min-device-pixel-ratio:1.1) { #r_#{i} { background: url('#{item.photo.2x}'); } }"
				when 2
					styles_2 = "#r_#{i} { background: url('#{item.photo.1x}'); } @media screen and (-webkit-min-device-pixel-ratio:1.1) { #r_#{i} { background: url('#{item.photo.2x}'); } }"

		style
			#{styles_0}
			#{styles_1}
			#{styles_2}