extends wrapper
include mixins/style


block head
	+style(['article'])
	script(src="/js/minread.js")
	script.
		$(document).ready(function() {
			$("article").minRead({
				where: ".time"
			});
		});

block content
	-if (msg)
		h2(style="background: #fec9ca; padding: 5px; border: 1px solid #fdacae;")= msg
	-if (staff)
		aside
			ul
				li
					a(href="/staff/articles/#{resp.slug}/edit/") Edit
				li
					a(href="/staff/articles/#{resp.slug}/photos/upload/") Upload photos
				li
					form#form(method="post", action='delete', enctype="multipart/form-data")
						input#delete(type="hidden", name="delete", value="true")
						button#submit(type="submit") Delete
	.meta
		.metaTop
			ul
				li
					h2.section in COWS
				li
					h2.author= 'by '+resp.author
				-if (date)
					li
						h2.pubdate
							| on 
							time(datetime=date.robot)= date.human
				li.facebook
					include includes/fb
		.metaBottom
			.metrics
				ul
					li.tempature
						i.flame
						span 212&deg;
					li.time
			h1= resp.title
			

	article!= (photo ? "<img src='"+photo+"'/>" : '')+body
	-if (staff)
		aside.views This article has been viewed #{resp.views} time#{resp.views != 1 ? 's' : ''}
		div#revisions
			h3 Revisions
			ul
				for version, i in versions
					li #{version.num} | #{version.ago} by #{version.editor}
		div#comments
			h3 Comments
			ul
				each comment in comments
					li
						div
							h3.c_author by #{comment.author}
							time(datetime=comment.exactDate)= comment.ago
							p!= comment.body.rendered
			form#form(method="post", action='comment', enctype="multipart/form-data")
				input#author(type="hidden", name="author", value="Zackary Corbett")
				input#edited(type="hidden", name="edited", value="false")
					//-fix this later! Do purely serverside or have a hidden feild? Who knows. Probably serverside though.
				
				textarea#body(name="body", placeholder="Your comment here.")
				button#submit(type="submit") Submit
